.about_img {
  width: 100%;
}
.about__contacts {
  padding: 10px 20px;
}
.about__contacts li {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}
.about__contacts img {
  width: 25px;
}
.about__contacts a {
  font-size: 20px;
  color: black;
  transition: 0.5s;
}
.about__contacts a:hover {
  text-decoration: underline;
}