.description {
  text-align: center;
  padding: 25px 0;
}
.description__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.description__title h2 {
  font-size: 22px;
  padding: 10px;
  white-space: nowrap;
}
.description__title h3 {
  font-size: 20px;
  padding: 10px;
}
.description__title div {
  max-width: 100px;
  width: 100%;
  height: 2px;
  background: black;
}

.linkJS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.linkJS a {
  display: grid;
  align-content: space-between;
  border: 1px solid black;
  color: black;
  max-width: 300px;
  margin: 25px;
  transition: 0.5s;
}
.linkJS a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.linkJS p {
  padding-top: 15px;
}
.linkJS img {
  width: 100%;
}
.linkJS__paint {
  padding: 15px;
}
.linkJS__cals {
  padding: 15px;
}
.linkJS__cals_icon {
  display: grid;
  gap: 5px;
}
.linkJS__cals_screen {
  display: grid;
  justify-content: right;
  font-size: 20px;
  padding: 5px;
  height: 31px;
  border: 1px solid #b0b0b0;
}
.linkJS__cals_keyboard {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}
.linkJS__cals_btn {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 20px;
  border: 1px solid #b0b0b0;
  min-width: 27px;
  min-height: 27px;
  transition: 0.5s;
}
.linkJS__cals_btn:hover {
  background: #b0b0b0;
}
.linkJS__tetris {
  padding: 15px;
}
.linkJS__tetris_field {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid black;
  width: 152px;
  height: 227px;
}
.linkJS__tetris_field div {
  width: 25px;
  height: 25px;
}
.linkJS__tic-tac-toe {
  padding: 15px;
}
.linkJS__tic-tac-toe_field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background: black;
}
.linkJS__tic-tac-toe_field div {
  min-width: 40px;
  min-height: 40px;
  background: white;
  width: 100%;
  height: 100%;
}
.linkJS__tic-tac-toe_cross {
  position: relative;
}
.linkJS__tic-tac-toe_cross span {
  position: absolute;
  width: 30px;
  height: 2px;
  background: black;
}
.linkJS__tic-tac-toe_cross span:nth-of-type(1) {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.linkJS__tic-tac-toe_cross span:nth-of-type(2) {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
.linkJS__tic-tac-toe_zero {
  position: relative;
}
.linkJS__tic-tac-toe_zero span {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid black;
  border-radius: 50%;
}
.linkJS__tic-tac-toe_zero span:nth-of-type(1) {
  left: 20%;
  top: 20%;
}
.linkJS__tic-tac-toe_zero span:nth-of-type(2) {
  display: none;
}

.linkHTML {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.linkHTML h4 {
  font-size: 18px;
  padding: 10px;
}
.linkHTML p {
  padding: 5px 0;
}
.linkHTML a {
  font-size: 18px;
}
.linkHTML__tablet {
  padding: 10px 0;
}