.paint {
  height: 100%;
  display: flex;
}

#toolbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 5px;
  width: 90px;
  background-color: #202020;
}

#toolbar label {
  color: white;
}

#toolbar input {
  width: 100%;
}

#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 2px;
}

#lineWidth {
  padding: 3px;
}

#drawing-board {
  border: 1px solid black;
}