* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  display: grid;
  align-content: space-between;
  height: 100%;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #0d1e5c;
}
.header__container {
  padding: 10px 15px;
}
.header__container a {
  font-size: 20px;
  color: #fff;
  transition: 0.5s;
}
.header__container a:hover {
  color: #999;
}
.header__container a:not(:last-child) {
  margin-right: 25px;
}

.canvas {
  /*position: relative;*/
  width: 1000px;
  height: 500px;
  border: 1px solid #467fab;
}
.canvas div {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.cals {
  display: grid;
  gap: 10px;
}
.cals__screen {
  display: grid;
  justify-content: right;
  font-size: 40px;
  padding: 10px;
  height: 62px;
  border: 1px solid #b0b0b0;
}
.cals__keyboard {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.cals__btn {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  border: 1px solid #b0b0b0;
  min-width: 55px;
  min-height: 55px;
  transition: 0.5s;
  cursor: pointer;
}
.cals__btn:hover {
  background: #b0b0b0;
}

.footer {
  color: #fff;
  background: #0d1e5c;
}