@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
.tetris {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  user-select: none;
  font-family: "Orbitron", sans-serif;
}
.tetris_block {
  display: flex;
  gap: 10px;
}
.tetris_field {
  display: flex;
  flex-wrap: wrap;
  width: 252px;
  height: 502px;
  border: 1px solid grey;
}
@media (max-width: 400px) {
  .tetris_field {
    width: 202px;
    height: 402px;
  }
}
.tetris_cell {
  width: 25px;
  height: 25px;
}
@media (max-width: 400px) {
  .tetris_cell {
    width: 20px;
    height: 20px;
  }
}
.tetris_keyboard {
  display: flex;
}
.tetris_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.5s;
  width: 50px;
  height: 50px;
  margin: 0 12px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.tetris_btn:hover {
  border: 1px solid grey;
}
.tetris_btn:active {
  background: #b0b0b0;
}
.tetris__info_title {
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px 0;
}
.tetris__info_next {
  display: flex;
  flex-wrap: wrap;
  width: 102px;
  margin-bottom: 40px;
}
@media (max-width: 400px) {
  .tetris__info_next {
    width: 82px;
  }
}
.tetris__info_cell {
  width: 25px;
  height: 25px;
}
@media (max-width: 400px) {
  .tetris__info_cell {
    width: 20px;
    height: 20px;
  }
}
.tetris__info_score {
  font-size: 24px;
  text-align: center;
}
.tetris__info_speed {
  font-size: 24px;
  text-align: center;
}
.tetris__popUp {
  font-family: "Orbitron", sans-serif;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.tetris__popUp_content {
  text-align: center;
  background-color: white;
  padding: 20px;
  max-width: 300px;
}
.tetris__popUp_content p {
  font-size: 20px;
  padding: 20px;
}
.tetris__popUp_score {
  font-size: 24px;
}
.tetris__popUp_button {
  font-size: 20px;
  padding: 20px;
  margin-top: 30px;
  border: 1px solid grey;
  transition: 0.5s;
}
.tetris__popUp_button:hover {
  color: white;
  background: grey;
  cursor: pointer;
}

.game_tetris {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.game_tetris div:nth-of-type(2) {
  display: none;
}
.game_tetris div:nth-of-type(3) {
  margin-top: 40px;
}
.game_tetris div:nth-of-type(5) {
  margin-top: 25px;
}
.game_shake {
  position: relative;
  width: 250px;
  height: 120px;
}
.game_shake div {
  position: absolute;
}
.game_shake div:nth-of-type(1) {
  left: 0;
  top: 40px;
}
.game_shake div:nth-of-type(2) {
  left: 88px;
}
.game_shake div:nth-of-type(3) {
  right: 88px;
  top: 80px;
}
.game_shake div:nth-of-type(4) {
  right: 0;
  top: 40px;
}
.game_shake div:nth-of-type(5) {
  display: none;
}
.game_racing div:nth-of-type(2) {
  margin-top: 40px;
}
.game_racing div:nth-of-type(4) {
  display: none;
}
.game_racing div:nth-of-type(5) {
  margin-top: 25px;
}