@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
.playing_field {
  display: flex;
  font-family: "Orbitron", sans-serif;
}

.tetris {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.tetris_block {
  display: flex;
  gap: 10px;
}
.tetris_field {
  display: flex;
  flex-wrap: wrap;
  width: 252px;
  height: 502px;
  border: 1px solid grey;
}
@media (max-width: 400px) {
  .tetris_field {
    width: 202px;
    height: 402px;
  }
}
.tetris_cell {
  width: 25px;
  height: 25px;
}
@media (max-width: 400px) {
  .tetris_cell {
    width: 20px;
    height: 20px;
  }
}
.tetris_keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.tetris_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  transition: 0.5s;
  width: 50px;
  height: 50px;
  margin: 0 12px;
  border: 1px solid #fff;
  border-radius: 2px;
}
.tetris_btn:hover {
  border: 1px solid grey;
}
.tetris_btn:active {
  background: #b0b0b0;
}

#down {
  margin-top: 40px;
}

#turn {
  margin-top: 25px;
}

.info_title {
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px 0;
}
.info_next {
  display: flex;
  flex-wrap: wrap;
  width: 102px;
  margin-bottom: 40px;
}
@media (max-width: 400px) {
  .info_next {
    width: 82px;
  }
}
.info_cell {
  width: 25px;
  height: 25px;
}
@media (max-width: 400px) {
  .info_cell {
    width: 20px;
    height: 20px;
  }
}
.info_score {
  font-size: 24px;
  text-align: center;
}
.info_speed {
  font-size: 24px;
  text-align: center;
}

.gameOver {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.gameOver_content {
  text-align: center;
  background-color: white;
  padding: 20px;
  max-width: 300px;
}
.gameOver_content p {
  font-size: 20px;
  padding: 20px;
}
.gameOver_score {
  font-size: 24px;
}
.gameOver_newGame {
  font-size: 20px;
  padding: 20px;
  margin-top: 30px;
  border: 1px solid grey;
  transition: 0.5s;
}
.gameOver_newGame:hover {
  color: white;
  background: grey;
  cursor: pointer;
}